/* Nav Styles */

.ct-nav{
    display: flex;
    justify-content: space-between;
}

/* Target the main logo image */

.ct-nav img{
    width: 25%;
    max-width: 100%;
    margin-left: 2vw;
}

ul#horizontal-list{
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

ul#horizontal-list li, ul#horizontal-list a{
    display: inline;
    text-decoration: none;
    padding: 0.5vw;
    color: black;
}

ul#horizontal-list a:nth-last-child(1){
    border: 2px solid blue;
    border-radius: 11px;
    margin-right: 0.2vw;
}
/* End of Nav styles */